<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

  	<typeAliases>
		<typeAlias type="global.sesoc.www.dto.T_Friend"	alias="friend" />
		<typeAlias type="global.sesoc.www.dto.T_GRequest"	alias="grequest" />
		<typeAlias type="global.sesoc.www.dto.T_Message"	alias="message" />
		<typeAlias type="global.sesoc.www.dto.T_Reply"	alias="reply" />
	</typeAliases>

	<mappers>
		<mapper resource="mappers/T_FriendMapper.xml" />
		<mapper resource="mappers/T_GRequestMapper.xml" />
		<mapper resource="mappers/T_MessageMapper.xml" />
		<mapper resource="mappers/T_ReplyMapper.xml" />
	</mappers> 

</configuration>